@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

.hr-lines {
  position: relative;
  margin: 30px auto;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 150px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 150px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
